* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-repeat: no-repeat;
    background-image: url('../imagens/frame-iphone.png');
}

#tela{
    position: absolute;
    top: 80px;
    left: 21.5px;
    width: 268px;
    height: 471px;
}

#redes-sociais{
    text-decoration: none;
    text-align: right;
}

#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
}

#redes-sociais img:hover{
    box-shadow: 5px 5px 10px black;
    border: 1px solid white;
    transform: translate(-3px, -3px);
    transition: .4s, border .5s;
}

@media (max-width: 600px) {
    #redes-sociais img{
        text-align: center;
        width: 40px;
    }
    br {
      display: none; /* Esconde a quebra de linha */
    }
  }
  